@use "../global/variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0 auto;
  color: v.$white;
  font-family: v.$monserrat;
  overflow-wrap: anywhere;
  background-color: v.$black;
  
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: initial;
}
