.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 25.68%, rgba(249, 247, 247, 0.10) 54%, rgba(0, 0, 0, 0.65) 84%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  padding: 30px 92px;
  grid-column: 1 / -1;

  &::before {
    content: "";
    position: absolute;
    top: 1rem;
    z-index: -1;
    width: 1584px;
    height: 239px;
    background-image: url("../assets/img/stroke-text.png");
    background-repeat: no-repeat;
    width: 100%;
    left: 29rem;
  }
}